%p
  %h3= team.name + ":"

%p
  %b Homerink:
  = team.rink.name + ' - ' + team.rink.address.city + ', ' + team.rink.address.state

%p
  %b Creator:
  = team.owner.full_name

%p
  %b Number of Members:
  = team.members.count

%p
  %a{:href=>team_path(team)} View Team

%p
  %a{:href=>edit_team_path(team)} Edit Team

- if !current_member.team
  - if !(current_member.already_requested_team team or current_member.already_request_from_team team)
    %div{:class=>'team-request', :id=>'sent-team-req-' + team.id.to_s}
      = link_to 'Request to Join Team', {:controller => 'team_members', :action => 'team_request', :id => team.id}, :remote => true
