%h2= @team.name
%p
  %b Owner
  = @team.owner.full_name

%p
  %b Homerink:
  = @team.rink.name + ' - ' + @team.rink.address.city + ', ' + @team.rink.address.state

%p
  %b Number of Members:
  = @team_members.count

%h2 Members:
- @team_members.each  do |m|
  %div{:class=>'team-member',:id=>"team-member-#{m.id}"}
    %p
      %b= m.member.full_name
    - if @team.owner == m.member
      %p Team Owner
    - else
      %p
        %a{:href=>'/members/' + m.member.id.to_s}Show
        Promote to Team Captain
        = link_to 'Kick Off', {:controller => 'teams',:action=>'kick_off',:id=>m.member.id},:remote=>true, :confirm => "Really Kick Off #{@m.member.full_name}?"

%h2 Team Requests:
%a{:href=>'/teams/requests'}Show new team requests