.section.container_16
  .grid_5
    %br
  #signup.grid_6
    %h2
      Sign up or
      = link_to DeviseNames::SIGN_IN_LINK_TEXT, new_session_path(resource_name)

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => DeviseNames::SIGN_UP_FORM_ID) do |f|
      = devise_error_messages!

      %fieldset
        %legend Log In Information
        .field.grid_3
          = f.label :email
          = f.email_field :email
        .field.grid_3
          = f.label :password
          = f.password_field :password
        .field.grid_3
          = f.label :password_confirmation, "Confirm Password"
          = f.password_field :password_confirmation

      %fieldset
        %legend Personal Information
        .field.grid_3
          = f.label :alias
          = f.text_field :alias
        .field.grid_3
          = f.label :first_name
          = f.text_field :first_name
        .field.grid_3
          = f.label :last_name
          = f.text_field :last_name
        .field.grid_3
          = f.label :phone
          = f.text_field :phone
        .field.grid_3
          = f.label :birthday
          %input{:type => 'date', :name => 'member[birthday]', :id => 'member_birthday'}

      %fieldset
        %legend Address Information
        = fields_for :address do |address|
          .field.grid_3
            = address.label :line_one
            = address.text_field :line_one
          .field.grid_3
            = address.label :line_two
            = address.text_field :line_two
          .field.grid_3
            = address.label :city
            = address.text_field :city
          .field.grid_3
            = address.label :state
            = address.text_field :state
          .field.grid_3
            = address.label :zip
            = address.text_field :zip

      %p= f.submit DeviseNames::SIGN_UP_LINK_TEXT
  .grid_5
    %br