.section.container_16
  .grid_5
    %br
  #signup.grid_6
    %h2
      Sign up or
      = link_to DeviseNames::SIGN_IN_LINK_TEXT, new_session_path(resource_name)

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => DeviseNames::SIGN_UP_FORM_ID) do |f|
      = devise_error_messages!

      %fieldset
        %legend Log In Information
        .field.grid_3
          = f.label :email
          = f.email_field :email
        .field.grid_3
          = f.label :password
          = f.password_field :password
        .field.grid_3
          = f.label :password_confirmation, "Confirm Password"
          = f.password_field :password_confirmation

      %fieldset
        %legend Personal Information
        .field.grid_3
          = f.label :alias
          = f.text_field :alias
        .field.grid_3
          = f.label :first_name, 'First Name'
          = f.text_field :first_name
        .field.grid_3
          = f.label :last_name, 'Last Name'
          = f.text_field :last_name
        .field.grid_3
          = f.label :phone, 'Phone'
          = f.text_field :phone
        .field.grid_3
          = f.label :birthday, 'Birthday'
          %input{:type => 'date', :name => 'member[birthday]', :id => 'member_birthday'}

      %fieldset
        %legend Address Information
        - resource.build_address
        = f.fields_for :address do |a|
          .field.grid_3
            = a.label :line_one, 'Line One'
            = a.text_field :line_one
          .field.grid_3
            = a.label :line_two, 'Line Two'
            = a.text_field :line_two
          .field.grid_3
            = a.label :city, 'City'
            = a.text_field :city
          .field.grid_3
            = a.label :state, 'State'
            = a.text_field :state
          .field.grid_3
            = a.label :zip, 'Zip'
            = a.text_field :zip

      %p= f.submit DeviseNames::SIGN_UP_LINK_TEXT
  .grid_5
    %br