<h1>WSA Rink Locator</h1>
<p>
  <b><%= @rink.name %></b><br/>
<% unless @rink.website.empty? then %>
  <%= link_to @rink.website %><br/>
<% end %>
    <%= @rink.address.line_one %><br>
      <% unless @rink.address.line_two.empty? then %>
           <%= @rink.address.line_two %><br>
      <% end %>
  <%= @rink.address.city + ', ' + @rink.address.state + ' ' + @rink.address.zip %>
</p>

<% if @rink.phone then %>
    <p>
      <b>Phone:</b>
      <%= @rink.phone %>
    </p>
<% end %>

<p>
  <b>Owner:</b>
  <% unless @rink.owner_id > 0 %>
    <%= @rink.owner_name %>
  <% else %>
      <!-- TODO: add field_for to render member info -->
    <%= @rink.owner_id %>
  <% end %>
</p>

<p>
  <%= link_to "Set this as my home rink",
              { :controller => :members,
              :action => "set_home_rink",
              :id => @rink.id }, :remote => true, 
              :confirm =>  'Are you sure you want to change your home rink?' %>
</p>