%div{:class=>'sent-member-request',:id=>"sent-member-req-#{request.id}"}
  %p
    You want
    = request.member.full_name
    to skate on
    = request.team.name.capitalize

  %p
    Sent:
    = request.created_at.strftime("%I:%M%p on %A %B %d, %Y")
    = link_to 'Cancel', {:controller => 'team_members', :action => 'cancel_request', :id => request.id}, :remote => true
