%div{:class=>'recd-member-request',:id=>"recd-member-req-#{request.id}"}
  %p
    = request.requestor.full_name
    wants you to skate on
    = request.team.name + ', '
    = request.member.first_name.capitalize
  
  %p
    = link_to 'Accept', {:controller => 'team_members', :action => 'approve_request', :id => request.id}, :remote => true
  %p
    = link_to 'Deny', {:controller => 'team_members', :action => 'deny_request', :id => request.id}, :remote => true