- if @rinks.any?
  - @rinks.each do |r|
    %div{:class=>"simple_info"}
      %p
        %h3= r.name + ":"

      %p
        - unless r.website.empty? then
          %a{:href=>r.website}=r.website
          %br

        = r.address.line_one
        %br
        - unless r.address.line_two.empty? then
          = r.address.line_two
          %br

        = r.address.city + ', ' + r.address.state + ' ' + r.address.zip

      - if r.phone then
        %p
          %b
            Phone:
          = r.phone

      - if r.is_owner_set?
        %p
          %b
            Owner:
          = r.display_owner
          
      %p
        %b= r.name + ': '
        %a{:href => '/manage/rink/' + r.id.to_s }
          'Edit'
- else
  %p
    No Results
