<div class="field">
  <%= f.label :line_one, 'Address Line One' %><br/>
  <%= f.text_field :line_one %>
</div>
<div class="field">
  <%= f.label :line_one, 'Address Line Two' %><br/>
  <%= f.text_field :line_two %>
</div>
<div class="field">
  <%= f.label :city %><br/>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :state %><br/>
  <%= f.text_field :state, :size => 2 %>
</div>
<div class="field">
  <%= f.label :zip, 'Zip Code' %><br/>
  <%= f.text_field :zip %>
</div>