.section.container_16
  .grid_5
    %br
  %div{}
  #login.grid_6
    %h2
      = DeviseNames::SIGN_IN_LINK_TEXT
      or
      = link_to DeviseNames::SIGN_UP_LINK_TEXT, new_registration_path(resource_name)

    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :id => DeviseNames::SIGN_IN_FORM_ID) do |f|
      %fieldset
        .field.grid_3
          = f.label :email
          = f.email_field :email
        .field.grid_3
          = f.label :password
          = f.password_field :password
        - if devise_mapping.rememberable?
          .field.grid_3
            = f.check_box :remember_me
            = f.label :remember_me

      .actions= f.submit DeviseNames::SIGN_IN_LINK_TEXT

    = render :partial => "devise/shared/links"
  .grid_5
    %br