<p>
  <%= f.label :line_one, 'Address 1' %><br />
  <%= f.text_field :line_one %>
</p>
<p>
  <%= f.label :line_two, 'Address 2' %><br />
  <%= f.text_field :line_two %>
</p>
<p>
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</p>
<p>
  <%= f.label :state %><br />
  <%= f.text_field :state, :size => 2 %>
</p>
<p>
  <%= f.label :zip, 'Zip Code' %><br />
  <%= f.text_field :zip %>
</p>
