-# HTML++
!!!

%head
  %title Skate
  = stylesheet_link_tag 'master', '960'
  = javascript_include_tag 'application'
  = yield :stylesheets

%body
  = render :partial => 'shared/notice_and_alert'

  = render :partial => 'shared/header'
  = render :partial => 'shared/nav'

  = content_for?(:template) ? yield(:template) : yield

  = render :partial => 'shared/footer'
