-# HTML++
!!!

%head
  = render :partial => 'shared/head'

%body
  = render :partial => 'shared/notice_and_alert'

  .container_16
    = render :partial => 'shared/header'
    = render :partial => 'shared/login'
  = render :partial => 'shared/nav'

  .container_16
    = content_for?(:template) ? yield(:template) : yield

  = render :partial => 'shared/footer'
