<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "WSA Jamskating" %></title>
    <%= stylesheet_link_tag "application", "ui-darkness/jquery-ui-1.8.9.custom.css" %>
    <%= javascript_include_tag "jquery.js", "jquery.rails.js", "jquery-ui-1.8.9.custom.min.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
